@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Oswald:400,600&display=swap');

/* font-family: 'Indie Flower', cursive;
font-family: 'Oswald', sans-serif; */
body {
  font-family: 'Indie Flower', cursive;
}

.element-img {
  border-radius: 50% !important;
  width: 75% !important;
  margin: auto !important;
}

.element-symbol {

  padding: 0 !important;
  margin: 0 !important;
  left: 45% !important;
  top: 45% !important;
  font-size: 32px !important;
  font-weight: 600 !important;
}