@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Oswald:400,600&display=swap');

/* font-family: 'Indie Flower', cursive;
font-family: 'Oswald', sans-serif; */
body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
}

.element-img {
  border-radius: 50% !important;
  width: 75% !important;
  margin: auto !important;
  clear: both;
}

.element-info {
  font-size: 1.5rem;

}

.num-symbol>h3 {
  display: inline;
}

td {
  font-size: 1.25rem;
}

th {
  font-size: 1.25rem;
}

h3,
th {}